src/main/app/product_file_parser.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <flow name="product_file_parserFlow">
        <file:inbound-endpoint path="${file.input.incomingdirectory}" moveToDirectory="${file.input.outgoingdirectory}" responseTimeout="${file.input.responseTimeout}" doc:name="Monitor for File">
            <file:filename-regex-filter pattern="${file.input.filenameregex}" caseSensitive="false"/>
        </file:inbound-endpoint>
        
        <logger level="INFO" doc:name="Log Flow Start" message="${logging.flowStartMessage}"/>
        <file:file-to-string-transformer doc:name="Convert File to String"/>
        <set-payload value="#[payload.split(&quot;\n&quot;)]" doc:name="Split String into Records"/>
        <request-reply doc:name="Request-Reply">
            <vm:outbound-endpoint exchange-pattern="one-way" path="splitrecords" doc:name="VM"/>
            <vm:inbound-endpoint exchange-pattern="one-way" path="return" doc:name="VM"/>
        </request-reply>
        <logger level="INFO" doc:name="Log Flow Complete" message="${logging.flowEndMessage}"/>
    </flow>
    <flow name="splitRecordsFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="splitrecords" doc:name="VM"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="processrecords" doc:name="VM"/>
    </flow>
    <flow name="processRecordsFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="processrecords" doc:name="VM"/>
        <set-payload value="#[payload.split(&quot;\\|&quot;)]" doc:name="Split Record into Fields"/>
        <set-payload value="#[new com.deloitte.productapi.cdm.Product(payload[0], payload[1])]" doc:name="Create CDM Object"/>
        <flow-ref name="insert_product_in_DB" doc:name="insert_product_in_DB"/>
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="return" doc:name="VM"/>
    </flow>
</mule>
